/* Your code here! */
main {
  margin: 25px auto;
  width: 50%;
}

button {
  padding: 10px 25px;
  margin:  25px;
  line-height: 1.5;
  border: 100px;
}

#pointValue {
  margin: 0 25px;
  color:grey;
  font-size: larger;
  font-weight: bold;
  font-kerning: auto;
  background-color: #f0f066;
}
